.account-discovery {
    .mat-card {
        box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.1) !important;
        -webkit-box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.1) !important;
    }
}

.btnstyl {
    max-width: 200px;
    min-width: 200px;
    font-size: 16px;
    color: #fff;
    background: #ff9500;
    border: 0;
    border-radius: 5px;
}

.terms-conditions {
    font-weight: 400;
}

.consent-details {
    font-size: 14px;
    font-weight: 400;
}