<mat-card>
    <mat-card-content>

        <!-- HEADER STARTS -->
        <div class="logo d-flex no-block align-items-center b-b m-b-10">
            <div class="m-r-0 auto">
                <img src="assets/images/bfl/BFL_logo.svg" width="150" height="40" class="desktop" alt="Bajaj Finserv">
                <img src="assets/images/bfl/BFL_Favicon.png" width="35" height="35" class="mobile m-b-5 m-r-10"
                    alt="Bajaj Finserv">
            </div>
            <h5 class="font-15 font-medium m-b-0 m-t-0 m-r-0">Loan Application</h5>
        </div>
        <!-- HEADER ENDS -->

        <!-- <button mat-raised-button class="btnstyl common" type="submit" (click)="getAccessToken()">Get Token</button> -->

        <!-- ============================================================== -->
        <!-- ACCOUNT DISCOVERY -->
        <!-- ============================================================== -->

        <!-- ACCOUNTS LISTS STARTS -->

        <div class="account-discovery">
            <div class="m-r-20 m-l-20">
                <h5>Account Discovery</h5>
                <h6 *ngIf="accountDiscoverMsg">
                    {{accountDiscoverMsg}}
                </h6>
            </div>

            <mat-card [class.disabled]="account.disable" [ngClass]="{'old': !account.disable}" class="old"
                *ngFor="let account of discoveredAccounts; let i = index">
                <mat-card-content>
                    <div (click)="!account.disable && selectAccountForLink(account);">
                        <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
                            <span class="top-avatar m-r-5">
                                <mat-card class="bank_logo_card">
                                    <img class="bankLogo" *ngIf="!account?.fip_logo"
                                        src="assets/images/banks/bank_icon2.png" width="50" height="45" alt="FIP Logo">
                                    <img class="bankLogo" *ngIf="account?.fip_logo"
                                        [src]="'data:image/png;base64,' + account?.fip_logo" width="50" height="45"
                                        alt="FIP Logo">
                                </mat-card>
                            </span>
                            <div fxFlex>
                                <div class="font-14">
                                    <h5 class="m-0 font-medium">{{account.fipName}}</h5>
                                    <span class="text-muted font-14">{{account.accType | titlecase}} :
                                        {{account.maskedAccNumber}}</span>
                                </div>
                            </div>
                            <div class="m-l-10 m-r-10">
                                <mat-checkbox [class.disabled]="account.disable" [ngClass]="{'old': !account.disable}"
                                    class="custom-checkbox" [checked]="account.checked">
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- ACCOUNTS LISTS ENDS -->

        <!-- OTP BLOCK STARTS -->
        <form [formGroup]="otpForm">
            <div fxLayout="row wrap" class="account-discovery align-items-center" *ngIf="enableOTPContainer ">
                <div fxFlex.gt-sm="30" fxFlex.gt-xs="100" fxFlex="100">
                    <div class="m-r-15 m-l-20">
                        <h5>Please enter bank's OTP</h5>
                        <p class="font-14">{{otpSuccessMsg}}</p>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="Please Enter OTP" formControlName="otp" minlength="6"
                                maxlength="6" [type]="hide ? 'password' : 'text'" required>
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' :
                                'visibility'}}</mat-icon>
                        </mat-form-field>
                        <div fxLayout="row wrap">
                            <div fxFlex.gt-md="50" fxFlex.gt-lg="50" fxFlex="50">
                                <div class="font-medium m-r-5 m-b-5" *ngIf="enableResendBtn">
                                    <a mat-flat-button (click)="resendAccDiscOtp(selectedAccounts)">Resend</a>
                                </div>
                            </div>
                            <div fxFlex.gt-md="50" fxFlex.gt-lg="50" fxFlex="50">
                                <div class="m-l-5 m-b-5 text-right">
                                    {{displayTimer}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div fxLayout="row wrap" class="align-items-center">
                <div fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" fxFlex="100">
                    <div class="text-right m-t-30 m-b-5 m-r-20">
                        <button mat-raised-button class="btnstyl common" *ngIf="enableAccDiscCancelBtn"
                            (click)="cancelAccDisc()">Cancel</button>
                        <button mat-raised-button *ngIf="enableOtpButton" class="m-l-5 btnstyl common"
                            [disabled]="!enableOtpButton" (click)="getDiscoverOtp(selectedAccounts)">Get
                            OTP</button>
                        <button mat-raised-button *ngIf="enableProceedBtn" class="m-l-5 btnstyl common" type="submit"
                            [disabled]="otpForm.invalid" (click)="confirmLinkAccount(linkObject)">Proceed</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- OTP BLOCK ENDS -->

        <!-- ADD ALTERNATE MOBILE NUMBER STARTS -->

        <form [formGroup]="altMobileNoForm" *ngIf="altMobNoContainer">
            <div fxLayout="row wrap" class="account-discovery align-items-center">
                <div fxFlex.gt-sm="30" fxFlex.gt-xs="100" fxFlex="100" *ngIf="altMobileNoField">
                    <div class="m-r-15 m-l-20">
                        <p class="font-16 font-medium">Please verify via mobile number</p>
                        <mat-label>MOBILE NUMBER *</mat-label>
                        <mat-form-field appearance="outline">
                            <input matInput placeholder="96XXX XXXX3" formControlName="alternateMobileNo" minlength="10"
                                maxlength="10" required>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex.gt-sm="30" fxFlex.gt-xs="100" fxFlex="100" *ngIf="altMobileNoOtpField">
                    <div class="m-r-15 m-l-20">
                        <p class="font-16 font-medium">Please verify via mobile number</p>
                        <p class="font-14">{{altMbleOtpSuccessMsg}}</p>
                        <mat-form-field appearance="outline">
                            <input matInput type="text" formControlName="otp" minlength="6" maxlength="6"
                                [type]="hide ? 'password' : 'text'" required>
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' :
                                'visibility'}}</mat-icon>
                        </mat-form-field>
                        <div>
                            <span><a mat-flat-button *ngIf="enableAltMobNoResendBtn"
                                    (click)="resendAltMobNoOtp(altMobNoOtpResponseData)">Resend</a></span>
                            <span class="float-right">{{displayTimer}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div fxLayout="row wrap" class="align-items-center">
                <div fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" fxFlex="100">
                    <div class="text-right m-t-30 m-b-5 m-r-20">
                        <button mat-raised-button class="m-r-5 btnstyl common" type="submit"
                            *ngIf="enableAltMobNoCancelBtn" (click)="cancelAltMobNoChange()">Cancel</button>
                        <button mat-raised-button class="m-l-5 btnstyl common" type="submit" (click)="changeMobNo()"
                            [disabled]="altMobileNoForm.invalid" *ngIf="enableAltMobOtpBtn">Get OTP</button>
                        <button mat-raised-button class="m-l-5 btnstyl common" type="submit"
                            *ngIf="enableAltMobNoProceedBtn" [disabled]="altMobileNoForm.invalid"
                            (click)="validateAltMobNoOtp(altMobNoOtpResponseData)">Proceed</button>
                    </div>
                </div>
            </div>
        </form>

        <div fxLayout="row wrap" class="align-items-center" *ngIf="!disableAltMobileNoOption">
            <div fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" fxFlex="100">
                <div class="m-t-30 m-l-20 m-b-30 m-r-20">
                    <button mat-raised-button class="btnstyl" (click)="enableAltMobileField()">Click Here</button>
                    <span class="font-14">
                        To try with another mobile number.
                    </span>
                </div>
            </div>
        </div>


        <!-- ADD ALTERNATE MOBILE NUMBER ENDS -->

        <div class="m-l-20 m-r-20">
            <!-- <span class="font-14">
                    Please link more bank account for better loan offer.
                </span> -->
            <div fxLayout="row wrap" class="align-items-center">
                <div fxFlex.gt-sm="35" fxFlex.gt-xs="100" fxFlex="100">
                    <span class="font-medium font-16">
                        SELECT BANK
                    </span>
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Select Bank</mat-label>
                        <mat-select [disableOptionCentering]="true" [formControl]="fipControl" #selectBank
                            panelClass="dropdownPanelClass" placeholder="Please select bank">
                            <mat-select-filter *ngIf="selectBank.focused" [placeholder]="'Filter'"
                                [displayMember]="'name'" [array]="fipList"
                                (filteredReturn)="filteredFips =$event"></mat-select-filter>
                            <mat-option *ngFor="let fip of filteredFips" (click)="selectFip(fip)" [value]="fip.id">
                                <img *ngIf="!fip?.logo_url" alt="" class="dropdown_bank_logo"
                                    src="assets/images/banks/bank_icon2.png" height="25" width="30">
                                <img *ngIf="fip?.logo_url" alt="" class="dropdown_bank_logo"
                                    [src]="'data:image/png;base64,' + fip?.logo_url" height="25" width="30">
                                <span>
                                    {{fip.name}}
                                </span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <!-- ============================================================== -->
        <!-- ACCOUNT DISCOVERY -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- CONSENT DETAILS -->
        <!-- ============================================================== -->

        <!-- CONSENTS LISTS -->
        <div class="consent-details">
            <div class="m-t-0 m-l-20 m-b-5 m-r-20">
                <h5>Summary of consent request</h5>
            </div>

            <div fxLayout="row wrap" class="align-items-center m-b-10 m-l-20 m-r-20 b-b"
                *ngFor="let consent of consentDetails">
                <div fxFlex.gt-sm="5" fxFlex.gt-xs="5" fxFlex="10">
                    <mat-checkbox class="m-r-5" [disabled]="consent.recurrance === 'ONETIME'" [checked]="true"
                        (change)="selectConsent($event, consent)">
                    </mat-checkbox>
                </div>
                <div fxFlex.gt-sm="95" fxFlex.gt-xs="95" fxFlex="90">
                    <div fxLayout="row wrap" class="align-items-center">
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100">
                            <div fxFlex.gt-sm="30%" fxFlex.gt-xs="30%" fxFlex="100">
                                <div class="font-medium m-r-5 m-b-5">
                                    Purpose
                                </div>
                            </div>
                            <div fxFlex.gt-sm="70%" fxFlex.gt-xs="70%" fxFlex="100">
                                <div class="m-l-5 m-b-5">:&nbsp;{{consent.purpose}}
                                </div>
                            </div>
                        </div>

                        <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100">
                            <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100">
                                <div class="font-medium m-r-5 m-b-5">
                                    Recurrance
                                </div>
                            </div>
                            <div fxFlex.gt-sm="70" fxFlex.gt-xs="70" fxFlex="100">
                                <div class="m-l-5 m-b-5">:&nbsp;{{consent.recurrance | titlecase}}
                                </div>
                            </div>
                        </div>

                        <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100">
                            <div fxFlex.gt-sm="30%" fxFlex.gt-xs="30%" fxFlex="100">
                                <div class="font-medium m-r-5 m-b-5">
                                    Date Range
                                </div>
                            </div>
                            <div fxFlex.gt-sm="70%" fxFlex.gt-xs="70%" fxFlex="100">
                                <div class="m-l-5 m-b-5">:&nbsp;{{consent.dateRange.from | date: 'dd MMM yyyy'}}
                                    to {{consent.dateRange.to | date: 'dd MMM yyyy'}}
                                </div>
                            </div>
                        </div>

                        <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100">
                            <div fxFlex.gt-sm="30%" fxFlex.gt-xs="30%" fxFlex="100">
                                <div class="font-medium m-r-5 m-b-5">
                                    Data Request
                                </div>
                            </div>
                            <div fxFlex.gt-sm="70%" fxFlex.gt-xs="70%" fxFlex="100">
                                <div class="m-l-5 m-b-5">:&nbsp;{{consent.dataRequest.join(', ') | titlecase}}
                                </div>
                            </div>
                        </div>

                        <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100">
                            <div fxFlex.gt-sm="30%" fxFlex.gt-xs="30%" fxFlex="100">
                                <div class="font-medium m-r-5 m-b-5">
                                    Consent Validity
                                </div>
                            </div>
                            <div fxFlex.gt-sm="70%" fxFlex.gt-xs="70%" fxFlex="100">
                                <div class="m-l-5 m-b-5">:&nbsp;{{consent.consentStartDate | date: 'dd MMM yyyy'}}
                                    to {{consent.consentEndDate | date: 'dd MMM yyyy'}}
                                </div>
                            </div>
                        </div>

                        <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100">
                            <div fxFlex.gt-sm="30%" fxFlex.gt-xs="30%" fxFlex="100">
                                <div class="font-medium m-r-5 m-b-5">
                                    Data Life
                                </div>
                            </div>
                            <div fxFlex.gt-sm="70%" fxFlex.gt-xs="70%" fxFlex="100">
                                <div class="m-l-5 m-b-5">:&nbsp;{{consent.dataLife.value}} {{consent.dataLife.unit |
                                    titlecase}}
                                </div>
                            </div>
                        </div>

                        <div fxFlex.gt-sm="50%" fxFlex.gt-xs="50%" fxFlex="100">
                            <div fxFlex.gt-sm="30%" fxFlex.gt-xs="30%" fxFlex="100">
                                <div class="font-medium m-r-5 m-b-5">
                                    Account Selected
                                </div>
                            </div>
                            <div fxFlex.gt-sm="70%" fxFlex.gt-xs="70%" fxFlex="100">
                                <div class="m-l-5 m-b-5">:&nbsp;{{selectedAccountsCount}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CONSENTS LISTS -->

        <!-- LINKED ACCOUNTS STARTS -->

        <div class="account-discovery">
            <div class="m-r-20 m-l-20">
                <h6 class="font-medium">
                    {{linkedAccntsMsg}}
                </h6>
            </div>

            <mat-card *ngFor="let accLinked of linkedAccounts" style="cursor: pointer;">
                <mat-card-content>
                    <div (click)="selectAccountForApprove(accLinked)">
                        <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
                            <span class="m-r-5">
                                <mat-card class="bank_logo_card">
                                    <img class="bankLogo" *ngIf="!accLinked?.fip_logo"
                                        src="assets/images/banks/bank_icon2.png" width="50" height="45" alt="">
                                    <img class="bankLogo" *ngIf="accLinked?.fip_logo"
                                        [src]="'data:image/png;base64,' + accLinked?.fip_logo" width="45" height="45"
                                        alt="">
                                </mat-card>
                            </span>
                            <div fxFlex>
                                <div class="font-14">
                                    <h5 class="m-0 font-medium">{{accLinked.fipName}}</h5>
                                    <span class="text-muted font-14">{{accLinked.accType | titlecase}} :
                                        {{accLinked.maskedAccNumber}}</span>
                                </div>
                            </div>
                            <div class="m-l-10 m-r-10">
                                <mat-checkbox class="custom-checkbox" [disabled]="checkboxDisable" [checked]="getSelection(accLinked)">
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- LINKED ACCOUNTS ENDS -->

        <!-- TERMS AND CONDITIONS STARTS -->
        <div fxLayout="row wrap" class="align-items-center">
            <div fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" fxFlex="100">
                <div class="m-t-10 m-r-20 m-l-20 terms-conditions">
                    <mat-checkbox class="m-r-5" [checked]="checkTermsAndCond" (change)="checkTerms($event)">
                    </mat-checkbox>
                    <span class="font-14">
                        I hereby authorize Bajaj Finance Ltd to obtain my account
                        information as per consent parameters fot the following:
                    </span>
                    <ol type="i" class="font-14">
                        <li>Assessing and sanctioning of the loan application.</li>
                        <li>Loan monitoring for tenure of the loan, after disbursal.</li>
                        <li>Offer a Business Fitness Report (BFR).</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- TERMS AND CONDITIONS ENDS -->

        <!-- APPROVE AND REJECT BUTTONS  -->
        <div fxLayout="row wrap">
            <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
                <div class="m-t-20 m-r-20 text-right">
                    <button mat-raised-button class="btnstyl m-r-5"
                        (click)="getRejectReasons(consentDetails)">REJECT</button>
                    <button mat-raised-button class="btnstyl" type="submit" [disabled]="disableApproveBtn"
                        (click)="approveConsent(consentDetails, selectedAccountsForApprove)">APPROVE</button>
                </div>
            </div>
        </div>
        <!-- APPROVE AND REJECT BUTTONS  -->

        <!-- ============================================================== -->
        <!-- CONSENT DETAILS -->
        <!-- ============================================================== -->

        <!-- <div fxLayout="row wrap" class="align-items-center">
            <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
                <div fxFlex>
                    <div class="font-14">
                        <span class="text-muted font-14">Powered by</span>
                    </div>
                </div>
                <span class="m-r-5">
                    <img src="assets/images/nadl/nadl_logo.png" width="110" height="35" alt="">
                </span>
            </div>
        </div> -->
    </mat-card-content><mat-card-actions class="m-t-30 chat-footer text-center">
        <span>Powered by</span>
        <img width="110" height="40" src="assets/images/nadl/nadl_logo.png" class="light-logo" alt="NADL-AA">
    </mat-card-actions>
</mat-card>